@import "tailwindcss";

.thin-scroll::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
    height: 8px;
}
.thin-scroll::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(22, 24, 35, 0.06);
}
.thin-scroll::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}